.the-movies {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.page-title {
  padding-left: 10%;
  padding-top: 5%;
  margin-top: 0;
  margin-bottom: 5%;
}
